In [1]:
import os
os.getcwd()

'C:\\Users\\namrata\\AI practice\\AI Projects'

In [2]:
os.chdir("C:/Users/namrata/Desktop/projects/salesad")

In [3]:
os.getcwd()

'C:\\Users\\namrata\\Desktop\\projects\\salesad'

In [5]:
import numpy as np
import pandas as pd

In [6]:
data = pd.read_csv('advertising.csv')

In [7]:
data.head()

      TV  Radio  Newspaper  Sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3   12.0
3  151.5   41.3       58.5   16.5
4  180.8   10.8       58.4   17.9

In [8]:
X = data[['TV', 'Radio', 'Newspaper']]
y = data[["Sales"]]

In [9]:
X.head()

      TV  Radio  Newspaper
0  230.1   37.8       69.2
1   44.5   39.3       45.1
2   17.2   45.9       69.3
3  151.5   41.3       58.5
4  180.8   10.8       58.4

In [11]:
X.shape

(200, 3)

**OLS method too tedious => rejected, try normal equation**

In [18]:
def MultiLinearRegressionOLS(X, y):
    #this method has limitation, this needs formulas for every coefficient
    return (theta0, theta1, theta2)

**Multi Linear regression with Normal Equation**

In [27]:
def MultiLinearRegressionNormalEquation(X, y):
    X1= np.array(X)
    y= np.array(y)
    n=len(X1)
    X0 = np.ones((n,1))
    #X1 = np.reshape(X1,(n,1))
    X=np.append(X0,X1, axis= 1)
    theta = np.linalg.inv(X.T @ X) @ X.T @ y
    return theta

In [29]:
result = MultiLinearRegressionNormalEquation(X,y)

In [30]:
result

array([[4.62512408e+00],
       [5.44457803e-02],
       [1.07001228e-01],
       [3.35657922e-04]])

**Multi Linear regression with Gradient Descent**

In [41]:
def MultiLinearRegressionGradientDescent(X, y, learning_rate,epochs):
    
    #m is number of datapoints, n is number of features in X
    X1=np.array(X)
    n0=len(X1)
    X0 = np.ones((n0,1))
    #X1 = np.reshape(X1,(n0,1))
    X=np.append(X0,X1, axis= 1)
    
    y = np.array(y)
    m,n = np.shape(X)
    theta = np.random.rand(n)

    for i in range(0,epochs):
        hypothesis = X @ theta
        loss = hypothesis - y
        cost = (2/m)*np.sum(loss**2)
        theta = theta - (learning_rate * np.sum(X.T @ loss ) )/ m
        print("theta  :",theta,"   cost  :",cost)
    return theta

In [46]:
result = MultiLinearRegressionGradientDescent(X, y, 0.00000003,5)

theta  : [0.92517838 0.30672407 0.06318112 0.49165684]    cost  : 2059755.3602329534
theta  : [0.87049666 0.25204235 0.0084994  0.43697512]    cost  : 1247965.0479376286
theta  : [ 0.82918385  0.21072954 -0.03281341  0.39566231]    cost  : 771797.1509630542
theta  : [ 0.79797144  0.17951713 -0.06402581  0.3644499 ]    cost  : 490331.655894949
theta  : [ 0.77439003  0.15593572 -0.08760723  0.34086849]    cost  : 322366.305934836